[2021-03-11 08:55] avanaur opened #11 "zbox error on new allocation"
I tried creating a newalllocation and it fails.

[code]

with `--verbose`
[code]

It seems it tries to upload a file that exists within the project repo.

[2021-03-11 16:40] guruhubb commented on #11
This is a bug introduced by a commit by @haule24hdev but has been reverted.

[2021-03-12 01:42] haule24hdev commented on #11
Please pull project again @avanaur

[2021-03-12 19:33] shravanshetty1 opened #13 "Document collab related commands."
There is an add-collab and delete-collab function for a file for collaboration with 3rd parties - pls check if we can list the collabs. Also, note that similarly we have a rx-pay option for a file for the receiver to pay for download for such a file by first creating a read pool for that allocation.

[2021-03-15 13:33] avanaur commented on #11
Working as expected. Closing this issue.

[2021-03-15 13:33] #11 closed

[2021-03-21 00:15] stewartie4 opened #14 "0Box does not support uploads to >32 blobbers (EC integrity issue)"
I’ve recently been testing out the limits of allocations and the network in general and i’ve found something curious with erasure coding on 0box.
I can create an allocation with an erasure coding combination as large as I want, and I will be assigned blobbers, see [this](https://one.devnet-0chain.net/transaction/fa1e02dcc129c54061481713ef29984ae6a2cfc2c25f87bf5f9cc272633662d4) as an example of a 2

[2021-03-21 00:33] stewartie4 opened #15 "nil pointer when attempting to handle some errors"
I've noticed the cli throwing the following in some error scenarios (such as unexpected connection issues)
![image](https://user-images.githubusercontent.com/18306778/111889891-91fcb400-89dc-11eb-83b4-bbbefe1c3490.png)

Looks like the error struct is nil but .Error() is being called anyway
![image](https://user-images.githubusercontent.com/18306778/111889867-52ce6300-89dc-11eb-9da1-0e779f0a49dd.pn

[2021-03-21 00:44] stewartie4 commented on #15
This actually seeems to be a bug with the [go sdk](https://github.com/0chain/gosdk), I'll try and raise a PR there

[2021-03-21 01:46] stewartie4 commented on #15
PRs opened to resolve above

[2021-03-22 10:52] stewartie4 commented on #15
PRs merged

[2021-03-22 10:52] #15 closed

[2021-03-22 18:02] andriykutsevol commented on #13
There is no list-collab function.
To get the list you need some kind of state.
But it looks like zbox is stateless.
Therefore, either zbox have to implement state, or it can be obtained from some source.

[2021-03-22 18:06] stewartie4 commented on #14
This is actually an issue with the SDK, it is only manifesting through 0box cli

[2021-03-22 19:42] guruhubb commented on #13
@andriykutsevol this is already looked at sorted. Check slack https://0chain.slack.com/archives/G014PQ61WNT/p1614112102007600 and https://0chain.slack.com/archives/G014PQ61WNT/p1613076865038400. But perhaps you can better document this on zboxcli and 0chainAPI.

[2021-04-17 15:56] stewartie4 commented on #14
Closed as PR fix merged

[2021-04-17 15:57] stewartie4 commented on #14
Closed as PR fix merged

[2021-04-17 15:57] #14 closed

[2021-05-06 21:41] hm90121 opened #18 "WIP: All the Allocations are not listing showing"
When using ./zbox listallocations command sometimes it shows all the allocations, sometimes fewer than all allocations.The behaviour is random and is changing every few minutes

[2021-05-08 02:37] andrenerd commented on #18
@hm90121
thanks for reporting.
may i ask you to share the contents of these config files:
- config.yaml
- network.yaml

ps. they are usually located in `~/.zcn` folder, if you are on linux/macos.

[2021-05-09 17:03] #13 closed

[2021-05-10 18:49] hm90121 commented on #18
config.yaml
[code]

[2021-05-14 01:02] guruhubb commented on #18
@andrenerd @hm90121 use the verbose command and a network that has the latest code to get better error reporting. Btw, you only need config.yaml to point to different network.  If we are not using network.yaml raise issue to be taken out.

Only reason for random behavior could be that there are only 2 sharders. If they are not in sync, then you will get different data. So during query, we should c

[2021-06-04 16:39] chauchausoup opened #27 "Keeping --verbose flag true by default for CLI."
SInce it takes some time to execute the CLI command, it might be less efficient to make user wait in unknown. With --verbose default to true we can make CLI screen look more interactive. Sometime even if the CLI returns success command in the brackground there might be erronous log going on as in this example, which will be not unknown to a user/developer with --verbose enabled.

![Screenshot from

[2021-06-04 20:42] guruhubb commented on #27
I agree.  Use another flag to hide details of all SC transactions. @bbist @Sriep

[2021-06-05 12:48] Sriep opened #28 "Change to give new blobber fields."
[blobber table](https://seven.devnet-0chain.net/blobber) and [blobber diagnostic](https://seven.devnet-0chain.net/blobber06/_stats) pages need new “allocated capacity” and “total tokens staked”  fields.

Matches gosdk change https://github.com/0chain/gosdk/issues/87

[2021-06-05 15:18] Sriep opened #29 "Transfer of ownership"
Transfer ownership of allocation by current owner or curatorID to new owner.

Matched with gosdk issue https://github.com/0chain/gosdk/issues/89

[2021-06-05 15:19] Sriep opened #30 "Transfer ownership"
Transfer ownership of allocation by current owner or curatorID to new owner.

Matched with gosdk issue https://github.com/0chain/gosdk/issues/89

[2021-06-05 15:19] Sriep commented on #30
duplicate

[2021-06-05 15:19] #30 closed

[2021-06-05 15:20] Sriep opened #31 "Multi-payer write pool"
Use payerID to allow multiple payers for allocation. Upon expiry, unused tokens can go back to payerID. Need gosdk/zboxcli changes.

Matched with gosdk issue https://github.com/0chain/gosdk/issues/88

[2021-06-07 01:58] cnlangzi opened #32 "Added filter status on ./zbox ls-blobber"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [ ] Bug
- [ ] Requirement
- [x] Feature or performance improvement

___
### Question

___
### Bug

___
### Requirement or improvement
the blobber will be listed too even it is offline on ./zbox ls-blobber.  Could we add a `status` filter for it?

[2021-06-09 00:35] andrenerd commented on #29
It mostly duplicates:
https://github.com/0chain/0chain/issues/333

[2021-06-09 01:03] andrenerd commented on #31
It's probably linked to:
https://github.com/0chain/blobber/pull/162
https://github.com/0chain/0chain/pull/347

PS. i guess the title is misleading. write pools are strictly linked to specific users.

[2021-06-09 07:05] chauchausoup commented on #27
Here is a[ PR](https://github.com/0chain/zboxcli/pull/33) for the issue.

[2021-06-09 15:25] cnlangzi commented on #32
blobber should be reconnected after it is restarted.

2021-06-09T15:22:12.626Z	ERROR	chain/state.go:379	Error executing the SC	{"txn": {"hash":"bd06ff7df481adc6ff8bf63112106192a63fe0b1e57ce80bfc2fc82ada3d2bdb","version":"1.0","client_id":"367f46c2a4e9d83f819ecdf9a9c9aa6fea33f6c99c358031d10525a15811a654","to_client_id":"6dba10422e368813802877a85039d3985d96760ed844092319743fb3a76712d7","chain_id":"0

[2021-06-10 11:06] chauchausoup opened #34 "Update allocation with --expiry flag not working."
Update allocation with --size flag works fine for now. It adds to the previous size value of the allocation. This might be another issue too ( Update means to replace the previous size value by the given value instead of adding the given to previous, right? )
Update allocation with --expiry flag gives "Error updating allocation:transaction_not_found: Transaction was not found on any of the sharder

[2021-06-10 16:49] guruhubb commented on #34
Have you checked if the transaction is recorded on the blockchain by searching the Explorer. Its possible the timeout is shorter. Check the sdk and increase the timeout for sharder calls.

[2021-06-10 16:51] guruhubb commented on #31
Title is fine. Yes, you're right that a write pool is owned by a user. But multiple people should be able to use payerID to lock tokens.

[2021-06-10 16:54] guruhubb commented on #29
@andrenerd make sure that both current owner and curator are able to transfer ownership of owner's allocation to new owner/buyer. cc @Sriep

[2021-06-10 16:56] guruhubb commented on #32
@andrenerd is this fixed? I believe one of your PR address this issue.

[2021-06-10 18:27] andrenerd commented on #32
@guruhubb
I'm afraid, it doesn't.
The original point is that sharder doesn't "deactivate" or "remove" blobbers when they go down for a while or completely. As a result they remain on list (as "active/online").

What was fixed is how re-registration processed. That is when blobbers wake up and send registration request.

Let me check how it works and get back soon.

[2021-06-10 18:30] guruhubb commented on #32
On Explorer, if you look at https://one.devnet-0chain.net/blobber, it filters out the blobbers based on health status. We can add this to our gosdk. I'll assign this to Krishna Dhakal since he is working on the Explorer

[2021-06-10 19:11] Kishan-Dhakan opened #35 "Random outages in zboxcli/zwallet"
ZBoxCLI and Zwallet were not working for any commands, then started working again. Other members on the slack channel faced this too.

Zwallet is registered:
[code]
getbalance is failing in zwallet (last know balance was 1.1):
[code]
newallocation --verbose output:
[code]
upload --verbose output:
[code]
config.yaml:
[code]

[2021-06-11 14:07] cnlangzi opened #36 "Update merkle hasher of shard with StreamMerkleHasher"
In section 1.4 on Whitepaper

hashed. Then these 1024 hashes serve as the leaf hashes of the Merkle Tree. The root of this Merkle tree is used to roll up the file hashes further up to directory/volume level. The Merkle proof provides the path from the leaf to the file root, and from the file root to the volume level. With this model, in order to pass the challenge for a file for a given index (bet

[2021-06-11 14:23] cnlangzi opened #37 "`ChunkSize` should be customizable"
`ChunkSize` is hardcode with 64KB now. It is too big for IoT.

[2021-06-11 21:45] guruhubb commented on #35
Yeah we need to incorporate in our integration test for any new code push to 0chain, blobber, and gosdk

[2021-06-12 08:21] chauchausoup commented on #34
I did checked the transaction and it seem to record on blockchain with assigned size and expiry time.

[2021-06-12 08:34] chauchausoup commented on #32
On js-sdk there is a filter that checks if the last health check timestamp value is more than an hour or not from the present time.
If last healthcheck has exceeded an hour from present time then it is under inactive sets of Blobber and vice versa.
Here is a js-sdk code that implements that filter.

[code]

On cli we can have --active flag that does similar operation.

`
Filter algorithm:

If( pre

[2021-06-12 16:17] stewartie4 commented on #34
@guruhubb regressions updated but they are failing.
Seeing the same on explorer with a brand new wallet
![image](https://user-images.githubusercontent.com/18306778/121782569-0ee59700-cba2-11eb-86eb-85845fe7f2af.png)

[2021-06-12 20:54] guruhubb commented on #32
@chauchausoup pls go ahead with that change

[2021-06-12 22:18] guruhubb commented on #31
Make sure ./zbox wp-lock allows any payer to lock tokens for the allocation. Then this feature already exists and we don't need to do anything. @andrenerd @Sriep

[2021-06-12 22:22] guruhubb commented on #29
@andrenerd @Sriep we can have a command, ./zbox add curator $ID --alloc $ALLOC to allow curator to transfer allocation.

[2021-06-12 22:24] guruhubb commented on #18
@bbist can you amend the logic as per above

[2021-06-13 10:58] Sriep commented on #31
[writePoolLock](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/smartcontract/storagesc/writepool.go#L337) is the endpont for `./zbox wp-lock`.  Inspecting the code, It looks like anyone can lock tokens,  we could add a unit test to  https://github.com/0chain/0chain/issues/323 to confirm this point.

[2021-06-13 16:30] chauchausoup commented on #34
`./zbox updateallocation --allocation d8b3ac2377ddf526a9710768a3db3d11bde8a5acce4e3576a338e027126f796d --size 3000000000`
It adds upto the previous size of the allocaiton. Is that an expected behaviour?

`./zbox updateallocation --allocation d8b3ac2377ddf526a9710768a3db3d11bde8a5acce4e3576a338e027126f796d --size 3000000000 --expiry 200h0m0s `
Gives Error updating allocation:transaction_not_found:

[2021-06-14 00:04] guruhubb commented on #34
Yes you can increase or decrease size and expiry - see example in https://github.com/0chain/0chain/tree/master/code/go/0chain.net/smartcontract/storagesc#initial

Make sure the transaction with expiry did not happen by searching it on the Explorer. And that the hours did not go beyond the blobbers max configuration.

cc @andrenerd

[2021-06-14 12:24] chauchausoup commented on #32
Sorry for the previous hesitation to implement the filter in ls-blobber as I have very less experience in golang. But with some help from Google and after testing in six,nine and one network and getting as expected result I here have made a https://github.com/0chain/zboxcli/pull/40 on the issue. I will close the issue for now as any syntax or error related to the code will be discussed in the http

[2021-06-14 12:24] #32 closed

[2021-06-15 02:48] cnlangzi opened #43 "New git flow with new CI/CD"
it is linked to https://github.com/0chain/gosdk/issues/107

[2021-06-15 14:58] cnlangzi commented on #36
Here is current stream hash flow

![Stream Hash (Current)](https://user-images.githubusercontent.com/347651/122076120-2edcbb00-ce2d-11eb-97b9-4c5a3d025454.png)

[2021-06-15 15:38] cnlangzi commented on #36
Here is new Stream hash flow. Why `StreamMerkleHasher` is better than `StandardMerkleHasher`, please see more detail on  [stream_merkle_hasher_test.go](https://github.com/0chain/gosdk/blob/feature/stream_upload/core/util/stream_merkle_hasher_test.go)

![Stream Hash (New)](https://user-images.githubusercontent.com/347651/122082338-816ca600-ce32-11eb-855d-11d28b2f30da.png)

[2021-06-15 15:41] cnlangzi commented on #36
The point is to save `hash state` instead of `original bytes`.

[2021-06-22 09:39] Sriep opened #46 "New cli comands: Add curator and curator transfer allocation"
Calls add curator and curator trnsfer allocatino endpoints from 0chain https://github.com/0chain/0chain/issues/369 and gosdk https://github.com/0chain/gosdk/issues/120.

[2021-06-23 03:29] cnlangzi commented on #37
linked to
https://github.com/0chain/blobber/commit/0443876591c5975510559e165382835139f5ae10

linked to
https://github.com/0chain/gosdk/commit/61553e9d1ef9fd89c9c78e5c26025d1e525efef8

[2021-06-23 03:32] cnlangzi opened #48 "Update challenge code for #36 and #37"
The hash logic has been updated on #36 and #37 . so challenge code need to be updated too.

[2021-06-23 03:41] cnlangzi opened #49 "[FEATURE] Add `continuous download` feature"
for now, we have a feature `dowload by blocks`. but you have to calculate blockNums and blockIndex, and loop it till done. `download` has to restart from scratch if network is broken. A new `continuous download` should be added
- automatically download it with blocks
- continuous download from last breakpoint when network is back or ./zbox download is restarted
- parallel download all blocks from

[2021-06-23 14:55] Sriep opened #52 "Add immutable option to update allocation."
Linked with issues https://github.com/0chain/0chain/issues/374 and https://github.com/0chain/gosdk/issues/122.

[2021-06-24 08:54] Sriep commented on #34
I tried to reproduce this issue and initially failed
[code]
Then i tried exactly the same transaction and manged to reproduce the porblem
[code]
On examing the logs I found
[code]
There was not enough space on the blobber, so user error.

The real culprit would appear to be bad error reporting, with real reason for errors being replaced with a generic `Transaction was not found on any of the shard

[2021-06-24 09:02] Sriep opened #53 "[FEATURE] Orignial error messages being replaced with generic message/"
When `zboxcli` commands fail the reason for the error is often replaced with a generic `Error creating allocation:transaction_not_found: Transaction was not found on any of the sharders`.

This is unhelpful for the user and can result in unnecessary issues being raised https://github.com/0chain/zboxcli/issues/34.

Whatever is causing the 'real reason for an error' to be hidden should be fixed.

[2021-06-24 09:04] Sriep commented on #34
@chauchausoup could you confirm insufficient space on the blobber was the problem. If so I suggest close this issue and replace with https://github.com/0chain/zboxcli/issues/53

[2021-06-24 13:38] cnlangzi opened #54 "Add `LiveStreamUpload` feature"
It is an enhanced  `StreamUpload` with live video from camera.

It should work like `logrotate` with a `delay` duration.

for example, filename is `/video/0chain_quickstart.avi`  and `delay` is 5s _(5s is default value)._
1st 5s, a video file which name is  `/video/0chain_quickstart.avi.1`  will be uploaded with `StreamUpload`
2nd 5s , a new video file  which name is  `/video/0chain_quickstart.avi

[2021-06-25 11:39] chauchausoup commented on #34
@Sriep can you help me with where you were able to view such log ?

[2021-06-25 18:04] andrenerd commented on #28
Related to https://github.com/0chain/blobber/issues/127

[2021-06-25 19:41] chauchausoup commented on #34
@Sriep this suerly is not a issue related to actual updateallocation as I was able to update allocation with some constraint.
If I update with expiry negative value then they work fine but on updating with +ve expiry this update allocation gives us error as state above.
But on consecutive -ve and +ve update to allocation works fine.
There must be other reasons to this and definitly error reporting

[2021-06-25 19:41] #34 closed

[2021-06-28 09:06] #46 closed

[2021-06-28 15:28] #52 closed

[2021-06-28 17:03] shaktals commented on #53
My [two cents](https://github.com/0chain/block-explorer/issues/216#issuecomment-869849924) on the related issue of semantic error codes.

[2021-06-29 18:04] stewartie4 commented on #34
I think this needs re-opened
API regressions are failing due to inability to update
https://0chain.github.io/blobber/feature_add-api-regressions-to-ci/latest/

[2021-06-30 10:41] Sriep commented on #53
The overwriting issue seems to be happening in VerifyTransaction https://github.com/0chain/gosdk/blob/master/core/transaction/entity.go#L255
[code]
We want to return the error causing the transactions to fail, not this generic 'it did not work' error.

[2021-06-30 19:55] andrenerd commented on #34
@stewartie4
where to check the testing code?
it looks like it was ABLE (not "unable") to update as the response code is ok (200). isn't it?

[2021-06-30 20:59] stewartie4 commented on #34
The response code was 200 ok but the subsequent confirmation on the sharder failed ￼with

{
    "code": "entity_not_found",
    "error": "entity_not_found: txn_summary not found with id = 3c1830dc4be1be9021da607131fda2898f6accacbd03453afc5ef556d49a25fb"
}

[2021-07-02 03:16] andrenerd commented on #34
@stewartie4
Imo, it's not enough.
It's needed to see the testing code/params to reproduce and debug the case.
Where it's possible to check the code?

[2021-07-05 15:42] Sriep opened #58 "update-attributes should be removed"
`update-attributes` is only used to update the `who--pays-for-reads` field. Hower the `who--pays-for-reads` field is never used.

`update-attributes` should be removed as it only serves to confuse.

[2021-07-07 08:28] Kishan-Dhakan commented on #35
Closing as one is shutdown and this is resolved in betanet.

[2021-07-07 08:28] #35 closed

[2021-07-07 09:07] #18 closed

[2021-07-10 11:19] Sriep commented on #29
Handled by https://github.com/0chain/zboxcli/pull/47

[2021-07-10 11:19] #29 closed

[2021-07-11 22:42] sculptex commented on #27
I missed this one, if command output is JSON then this breaks it?

[2021-07-12 08:19] Sriep opened #60 "Add a lock token option to download"
Add a lock option to `zbox download` and other read file actions. This will create a new read pool to pay for the action.

This can be done by calling `rp-lock` prior to `download`.

[2021-07-13 11:34] Sriep commented on #31
PR https://github.com/0chain/0chain/pull/389 should fix this issue.
Closed and Moved to https://github.com/0chain/0chain/issues/385.

[2021-07-13 11:34] #31 closed

[2021-07-15 14:58] Sriep opened #63 "updateallocation: Add --update-terms boolean option"
Add a `--update-terms` option to `updateallocation`.

This is to indicate whether or not to update the allocation to use the latest blobber terms.

Linke with https://github.com/0chain/0chain/issues/405 and https://github.com/0chain/gosdk/issues/140.

[2021-07-23 18:06] Sriep opened #65 "Create a new allocation with someone else as owner"
Use CreateAllocationForOwner rather than CreateAllocation.

[2021-07-26 07:49] haule24hdev opened #67 "[ERROR ENHANCEMENT]Copy to root doesn’t seem to work if there are no folders."
![Screenshot from 2021-07-26 14-41-35](https://user-images.githubusercontent.com/50743635/126951707-79d7ca5e-c847-48c0-894e-7791af55d87c.png)
![Screenshot from 2021-07-26 14-42-31](https://user-images.githubusercontent.com/50743635/126951718-70d7e416-5cf9-4644-a243-bf14099a8326.png)
![Screenshot from 2021-07-26 14-42-45](https://user-images.githubusercontent.com/50743635/126951724-430165d8-fde8-4d

[2021-07-26 08:04] haule24hdev opened #68 "Cannot download or view an encrypted file"
![Screenshot from 2021-07-26 09-32-18](https://user-images.githubusercontent.com/50743635/126954631-20e5c728-3d3a-4dcb-89e2-2125f6977461.png)
![Screenshot from 2021-07-26 09-28-17](https://user-images.githubusercontent.com/50743635/126954634-b92f3836-b7bf-4aab-8047-04a29075e1a3.png)
![Screenshot from 2021-07-26 09-28-36](https://user-images.githubusercontent.com/50743635/126954638-3473f142-685c-42

[2021-07-27 11:00] Sriep opened #70 "sc-config updated with new fields"
Update `sc-config` with new fields from recent changes.

For example, the free allocation settings: someone contemplating making a free allocation should be able to see what their allocation will look like.

[2021-07-27 13:52] Sriep commented on #68
The code says that an `auth ticket` si required to download an encrypted file and you have not sued an `auth ticket`. So I am not convinced there is an error.

Try using an `auth ticket`, (use `share`) and see if that works.

[2021-07-27 14:21] Sriep commented on #67
The first screenshot shows a file at /2.txt. The second screenshot shows you trying to overwrite the /2.txt. So it looks like the correct issue is that you can't overwrite a file while copying to root.

I reproduced this locally. by double sending a copy to root. The first worked the second one did not with `"Invalid destination path. Object Already exists`.

So should you be able to overwrite whi

[2021-07-28 16:55] Sriep opened #72 "[FEATURE] Use gosdk interface rather than raw methods."
Use interface from https://github.com/0chain/gosdk/issues/155.

[2021-07-29 01:54] haule24hdev commented on #67
@Sriep, yes. But can you make to return a good error ?
![Screenshot from 2021-07-29 08-52-41](https://user-images.githubusercontent.com/50743635/127419276-fe2dde07-3ba2-4029-a32a-9a7cb325e3f0.png)

[2021-07-29 01:55] haule24hdev commented on #67
I pinged Siva but he's not available?

[2021-07-30 09:26] #65 closed

[2021-08-03 12:25] Sriep commented on #53
For Rest calls error could be getting lost here in gosdk `MakeSCRestAPICall` https://github.com/0chain/gosdk/blob/master/zboxcore/zboxutil/http.go#L534

[code]
Whatever gets returned by the REST API Call seems to get overwritten here with a consensus_failed error, obscuring the real problem. this is only for REST API calls, not smart-contract transactions.

[2021-08-03 22:52] shaktals commented on #53
Just to reiterate, it would be very very helpful to review [the issue](https://github.com/0chain/block-explorer/issues/216#issuecomment-869849924) of returning a `400 Bad Request` code to API calls that have no data/resources to return. The logs get really cluttered and it makes harder to find real errors in the midst of it. A `200` with empty body or `204` would be much better.

[2021-08-06 16:19] cnlangzi opened #77 "Add github aciton to build release binary for windows/linux/drawin"
It is easier to other guy to download and run it directly instead of build it by himself. And it save a lot of time for them.

[2021-08-07 10:02] NoSkillGuy opened #78 "Zbox Installation fails on M1 (arm64)"
[code]

[2021-08-07 12:21] NoSkillGuy commented on #78
This is because `bls-go-binary` doesn't have a darwin/arm64 binary in it.

raised a PR in `bls-go-binary` adding `darwin/arm64` binary - [here](https://github.com/herumi/bls-go-binary/pull/5) . So while building Zbox on `darwin/arm64` architecture. we need to pull this specific commit (124ee283019e963ff3cd0cfdc8f9e8dae7bc2339) to solve the problem.

[code]

@Sriep should I update the `bls-go-binar

[2021-08-07 12:23] cnlangzi commented on #78
It works on&nbsp;Harshit Mehndiratta Mac&nbsp;

From&nbsp;mobile&nbsp;

------------------ Original ------------------
From: NoSkillGuy ***@***.***&gt;
Date: Sat, Aug 7, 2021 8:21 PM
To: 0chain/zboxcli ***@***.***&gt;
Cc: Subscribed ***@***.***&gt;
Subject: Re: [0chain/zboxcli] Zbox Installation fails on M1 (arm64)  (#78)

This is because bls-go-binary doesn't have a darwin/arm64 binary in it.

ra

[2021-08-07 12:31] NoSkillGuy commented on #78
@cnlangzi didn't get you. Are you saying it works without this change?
If so I don't think so that's possible, since `bls-go-binary` doesn't have `darwin/arm64` binary in their repo.

[2021-08-07 12:32] cnlangzi commented on #78
Yes. We get it worked with go mod replace. It might be go mod issue

From&nbsp;mobile&nbsp;

------------------ Original ------------------
From: NoSkillGuy ***@***.***&gt;
Date: Sat, Aug 7, 2021 8:31 PM
To: 0chain/zboxcli ***@***.***&gt;
Cc: Lz ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [0chain/zboxcli] Zbox Installation fails on M1 (arm64)  (#78)

@cnlangzi didn't get you. Are you say

[2021-08-07 12:41] rsivapraveen001 commented on #78
How can it work without `bls-go-binary` having `darwin/arm64` binary?

Have you guys complied `bls-go-binary` and generated `darwin/arm64` binary and then updated in GOPATH?

[2021-08-07 12:44] cnlangzi commented on #78
No. We just git clone https://github.com/herumi/bls-go-binary on local. and `make` it. And replace go mod with local path. It works on @hm90121 's Mac Mini . you can have a try.

[2021-08-07 12:45] cnlangzi commented on #78
I can't find why. Because I have not Mac with M1. you can have a try, and find why and how to fix it.

[2021-08-07 12:55] NoSkillGuy commented on #78
when you `make` it, you are essentially creating a binary on the M1 machine right, so that's `darwin/arm64` you have build it.
Then you are replacing in go mod with the local path.

So I fixed it. I have created the binary and raised a PR in `bls-go-binary` [here](https://github.com/herumi/bls-go-binary/pull/5), which upon merging would solve the problem. Then we need to use the latest version of

[2021-08-07 14:30] #77 closed

[2021-08-08 21:15] guruhubb commented on #68
This is a new PRE flow issue and I think its sorted out @moldis

[2021-08-09 15:19] cnlangzi opened #81 "[FEATURE] Get detail error from miners instead of sharders"
for now, a transaction is submitted to miners. And miner execute sc , and push result to sharder.  sharder can't know detail information if it is failure on miner. And zbox always says ` {"code":"entity_not_found","error":"entity_not_found: txn_summary not found with id = 99ee0c5c400c65e63d3931d2b986b9fb7596f877e0e632b5c21b482cf723b9a6"}`.

It is very difficult to understand what happens.

[2021-08-09 16:31] cnlangzi opened #82 "Refactor config.yaml parser with gosdk/zboxcore/conf"
it is linked to https://github.com/0chain/gosdk/issues/195 . A new [conf](https://github.com/0chain/gosdk/blob/fix/min_confirm/conf/config.go)  package has been added for parsing config.yaml

[2021-08-14 11:52] cnlangzi opened #86 "Update code to remove bls library on windows"
Remove herumi/bls from zbox.exe, or embedded it in zbox.exe . Please test it  on a fresh windows install instead of local development window.

[code]

linked to https://github.com/0chain/zwalletcli/issues/37

[2021-08-15 11:15] Sriep commented on #53
For transcatios the exact place the error gets lost needs testing but there are a couple of clear possablities.

[GenerateBlock's local function txnPorcessor](https://github.com/0chain/0chain/blob/master/code/go/0chain.net/miner/protocol_block_main.go#L99).
[code]
As you see the `err` returned by `mc.UpdateState` gets lost and replaced by a boolean value `false`. We chould pass this error up the s

[2021-08-16 08:55] Dmdv commented on #53
I found that happens often.

Symptoms:

1. Transaction executes OK.
2. State computing fails which means that the whole block is discarded and the transaction won't go to shaders

[code]

Affects:

All smart contracts where MPT is being mutated by adding a new service provider
```InsertTrie``` function

[2021-08-16 13:35] #82 closed

[2021-08-17 09:22] cnlangzi commented on #53
other http has been updated for this issue .  https://github.com/0chain/gosdk/blob/520f39c0fe70bd33a21c7eff1d269386ac653f86/core/transaction/entity.go#L214

[2021-08-19 08:40] moldis opened #87 "Need a new "Zbox CLI" method"
CLI method to decrypt mnemonic using EncryptedMnemonic

Moving this issue from WindowsRepo https://github.com/0chain/0BoxSyncWindows/issues/13

[2021-08-19 10:59] Sriep opened #90 "Github checks are not working for pull requests to staging branch."
Github checks are not working for pull requests to `staging branch`.

[2021-08-19 17:51] hm90121 commented on #78
@NoSkillGuy are u able to create allocations using zboxcli on your m1 mac?

[2021-08-22 12:55] NoSkillGuy commented on #78
@hm90121 Yes, I am able to

[2021-08-22 12:58] NoSkillGuy commented on #78
Closing this issue with the following solutions.

[2021-08-22 12:58] #78 closed

[2021-08-23 16:00] shaktals commented on #34
It seems like this continues to be [a problem](https://github.com/0chain/block-explorer/issues/205) on explorer. I'm opening this up again.

[2021-08-23 16:04] shaktals opened #94 "Update allocation with --expiry flag is still not working"
This continues discussion of #34, which is a blocker for the `block-explorer` issue [205](https://github.com/0chain/block-explorer/issues/205).
ping @andrenerd @stewartie4 @Sriep

[2021-08-23 16:07] stewartie4 commented on #94
It looks like when you update an allocation with a given size it works every time.
If you try to update the expiry date of the allocation (expire it or extend it) this never works and the subsequent confirmation will fail.
Therefore I believe this to be a bug in the smart contract

[2021-08-23 18:23] Sriep commented on #94
Please check that every blobber can support the extension proposed.

[2021-08-23 18:28] stewartie4 commented on #94
I have tried reducing by 1 hour and extending by 1 hour directly to the API of multiple blobbers, it never works for me nor the cli

[2021-08-23 18:44] shaktals commented on #94
Same here, just tried twice with different time periods, the error persists. [(cli error image)](https://user-images.githubusercontent.com/24679343/130500577-c7cfbcd9-5a0a-47d3-9926-590587d39bf3.png)

[2021-08-23 18:46] shaktals commented on #94
Maybe some API integration tests here would be nice? :thinking:

[2021-08-23 18:55] Sriep commented on #94
900 hours might be too much. Try 48h.

[2021-08-23 19:17] shaktals commented on #94
Ah, the docs suggest 900h as an example.
The cli worked when using 48h.
But the `block-explorer` extend expiry unit is **months**!
I just tried with 1 month and it worked.
Maybe that is the problem?
If so, then we'll have to change the unit, implement restrictions.
What is the time limit then?

[2021-08-23 19:20] guruhubb commented on #94
The sc.yaml has the time limit - we should do an API to check all min/max limits of the network. @Sriep is working on that with cli.

[2021-08-23 19:23] shaktals commented on #94
Got it. One thing I noticed now is that extending 1 month via `explorer` UI worked on `dev` network, but not on `beta`.
Do you guys know that is the time limit there?
We'll change the extend expiry input to `hours`, and set that limit.

[2021-08-23 19:23] guruhubb commented on #86
Once we have merged the wasm sdk from Andika, this issue won't be there.

[2021-08-23 19:44] m-s-a-c commented on #90
@cnlangzi
add branch `staging` in build-zbox.yaml for both push and pull request as Github checks are not working for pull requests to staging branch.

[2021-08-23 21:40] stewartie4 commented on #94
@shaktals we have API integration tests
https://0chain.github.io/0chain/beta/2021-08-23_17.05.29/index.html#pills-requests
this test scenario is disabled currently as it always fails

[2021-08-23 23:22] shaktals commented on #94
@stewartie4 here is a sample [request data](https://github.com/0chain/zboxcli/files/7035405/Update.alloc.txt), that worked on `beta`.
I'm having the following issue in the `dev` network, so I can't get it to work there:
`internal_error: selecting blobbers: Not enough blobbers to honor the allocation`

[2021-08-27 18:02] guruhubb commented on #53
@NoSkillGuy @bbist  one way to handle this is to send the failed transactions to sharders and have them store them in a new Cassandra table, say failed transactions. If the transaction is not found in the blockchain then the sharder can look up the failed table and send the error response for that transaction. Thoughts?

[2021-08-27 22:53] cnlangzi commented on #53
or get error message from miner? https://github.com/0chain/zboxcli/issues/81

[2021-08-30 21:01] shaktals commented on #94
@moldis Saswata was asking me about this issue, do you know if it has been solved?

[2021-09-02 17:18] guruhubb commented on #53
According to @NoSkillGuy the [PR 401 ](https://github.com/0chain/0chain/pull/401) should cover it

[2021-09-03 23:26] cnlangzi opened #99 "It is better to return 204 if object is not found in blobber"
if object can't not find in blobber, it is better to return 204 instead of 400. Because the file was deleted from blobber.

[code]

[2021-09-03 23:28] cnlangzi commented on #99
@guruhubb  what do you think about it?

[2021-09-03 23:34] cnlangzi opened #100 "[FEATURE] improve `sync` command with parallel requests"
download/upload/update is running file by file. It is safe to download/upload/update files in parallel requests for better performance.

[2021-09-03 23:36] cnlangzi opened #101 "download file from sub directory doesn't work in `sync` command"
log says
[code]

Actually,  the files are not downloaded on local.

[2021-09-03 23:40] cnlangzi opened #102 "localcache is required in `sync`"
if it is empty, we should save it into ~/.zcn/sync.cache . And automatically refresh it if it is necessary.

[2021-09-04 08:21] cnlangzi commented on #99
for example, we will delete /upload/test.png from 5 blobbers.

it is removed from blobber1-3, but broken on blobber4 by network. `delete` cmd can't be executed properly. Because blobber1/2/33 throws `common.NewError("invalid_file", "File does not exist at path")`

[2021-09-06 07:46] #87 closed

[2021-09-06 09:07] cnlangzi commented on #36
see more detail on https://github.com/0chain/blobber/wiki/Protocols#what-is-fixedmerkletree

[2021-09-09 13:50] subaquatic-pierre opened #105 "List file method does not return correct data"
./zboxcli list-all method returns correct json but ./zboxcli list --file does not return correct data. It returns blank info for any file.

`
List result:{"allocation_root":"20e1383ba6f9ee845de0d5d3a825b7e6582780ba3ba92f112e6f7b629b990a6e","meta_data":{"created_at":"0001-01-01T00:00:00Z","hash":"","lookup_hash":"","name":"","num_of_blocks":0,"path":"/awesome.txt","path_hash":"","size":0,"type":"d"

[2021-09-10 14:30] #90 closed

[2021-09-14 09:59] bbist commented on #53
Unfortunately, it doesn't cover blockchain scoped errors at the moment. I've created another PR to resolve this by including failed smartcontract transactions in a block, where only successful transactions were stored before.

[2021-09-21 07:36] lpoli opened #108 "File upload should always be encrypted"
A blobber knows about other blobbers that an allocation has contract to. It also puts contract terms of other blobbers in `terms` table. It gets all the information regarding allocation contract from 0chain sc. Since `encryption` option is kept optional in zbox as well as in `gosdk`, it might vulnerable in case of sensitive data.

We should put encryption option by default in `gosdk` and unencrypt

[2021-09-21 07:52] #108 closed, assigned to guruhubb

[2021-09-28 22:06] stewartie4 opened #235 ""curator flag is missing" error message when transferring allocation"
When transferring an allocation, if either the new_owner, public_key or allocation flags are not present, the error returned is "curator flag is missing"
![image](https://user-images.githubusercontent.com/18306778/135172228-9a5f5b61-c27e-4080-b8b1-a705c0eec790.png)
this looks like a copy + paste typo

[2021-09-28 22:12] stewartie4 opened #112 "addcurator/removecurator missing from usage"
This may be intentional but addcurator is missing from cli useage
![image](https://user-images.githubusercontent.com/18306778/135172911-1e59d9db-9896-4c2d-8b42-497f6dd79ca0.png)

[2021-09-28 22:26] stewartie4 commented on #112
closed as i checked the wrong CLI! do'h!

[2021-09-28 22:26] #112 closed, assigned to nobody

[2021-10-04 05:55] cnlangzi opened #113 "[FEATURE] improve CLI command name and parameters with consistent naming"
for now, there are some naming rules on cli command name
- lower-case: ` list-all`, `add-collab`
- lowercase: `listallocations`, `addcurator`,`encryptionpublickey`
- prefix: `alloc-cancel`,`alloc-fini`
- without prefix: `get`
- fullname:  `list-all`
- shortname: `ls-blobbers`

And there are some naming rules on cli command parameters
- lower-case : `rx_pay`,`free_storage`,`read_price`, `write_pric

[2021-10-05 19:58] shaktals commented on #94
@moldis @stewartie4 do we have news here?

[2021-10-05 20:19] shaktals commented on #53
I have no knowledge of this being fixed already, please correct me.
Otherwise, I reinstate my core issue with error codes/messages on 0chain.

A `400 Bad Request` response is not semantic for a correct request, even if there is no data to return.

We should be returning either:
- `204 No content` (my preference)
- `200 Success` but with empty body / no data
- `404 Not found` which works, but it po

[2021-10-06 09:30] stewartie4 commented on #94
This seems to have been resolved on staging images:
![image](https://user-images.githubusercontent.com/18306778/136177238-a312fa03-dd1b-434e-a5ae-18cc963014ad.png)
I'm not sure who resolved this, or what the issue was, does anyone here know?
Cancel allocation remains broken

[2021-10-13 06:56] cnlangzi opened #115 "`copy` doesn't work with allocation_root_mismatch error"
0box-sdk        [INFO]   2021/10/13 14:54:01.742193 copyworker.go:144: Commit failedhttp://10.10.10.105:5052commit_error: {"code":"allocation_root_mismatch","error":"allocation_root_mismatch: Allocation root in the write marker does not match the calculated allocation root. Expected hash: 4ce6f01752c8e7f8b62f05aff8cd3d3d3b288a3109a78b24b886f8a624077fba"}
0box-sdk        [INFO]   2021/10/13 14:54:0

[2021-10-13 15:41] shaktals commented on #94
We'll test this out on the explorer and cli, then close this if it's solved.

[2021-10-14 18:32] webPlayer7 commented on #94
Update allocation using zboxcli still fails with --expiry flag. Same on the block-explorer.
I can't find the correct reason why it fails. It works fine without --expiry.

[2021-10-14 19:10] shaktals commented on #94
@JordanMicle2019 please provide the cli command you used, and the cli response log for context.

[2021-10-14 19:25] webPlayer7 commented on #94
`./zbox updateallocation --allocation df278b739c1ade8495ce76ecd351baf29ce494a72679ccdcb04ffdc884d8c8cf --expiry 48h --size 4096`
Here is command and result
![Screenshot_3](https://user-images.githubusercontent.com/53501353/137382623-0b99b985-de81-4ff1-aa02-c3193fedbe2f.jpg)

[2021-10-14 20:45] stewartie4 commented on #94
@JordanMicle2019 try running against dev.0chain.net - beta.0chain.net is on master images which i don't believe have the fix

[2021-10-15 03:33] webPlayer7 commented on #94
@stewartie4  On dev.0chain.net, create allocation fails and also update allocation. On beta, create allocation and update allocation without `--expiry` flag worked
![Screenshot_3](https://user-images.githubusercontent.com/53501353/137428155-e74ec89a-16f8-4998-a2d9-e7cf82f0612f.jpg)

[2021-10-15 10:18] stewartie4 commented on #94
Ok this looks like an issue with your CLI build as allocation create on dev is working everywhere else
Maybe try rebuilding it?

[2021-10-15 10:36] webPlayer7 commented on #94
You mean `make install` again?

[2021-10-15 10:46] webPlayer7 commented on #94
I did `make install` and then retried to create allocation on `dev `network. But got same error

[2021-10-15 19:11] shaktals commented on #94
What `zboxcli` branch are you using @JordanMicle2019? Did you pull the latest changes to that branch?

[2021-10-16 00:55] cnlangzi commented on #115
it is fixed on https://github.com/0chain/blobber/pull/387

[2021-10-16 00:55] #115 closed, assigned to nobody

[2021-10-18 04:12] webPlayer7 commented on #94
For zboxcli, I am using staging branch. And yeah I pulled latest one

[2021-10-18 16:43] shaktals commented on #94
@stewartie4 I can confirm Jordan's error, I'm getting the same from the `test` network on a freshly pulled and compiled `zboxcli` (staging):

![Selection_164](https://user-images.githubusercontent.com/24679343/137773322-cc0981f4-ca06-4cdd-b98a-f9874bc496d3.png)

[2021-10-18 16:45] shaktals commented on #94
Even without the `expire` flag is not working.

[2021-10-18 16:50] stewartie4 commented on #94
@shaktals The issue here is the network
nothing is passing against
test.0chain.net
https://github.com/0chain/system_test/runs/3929454464?check_suite_focus=true

all of this works fine against
dev.0chain.net
https://github.com/0chain/system_test/runs/3929457526?check_suite_focus=true

[2021-10-19 17:40] shaktals commented on #94
I just confirmed it works against `dev` network, closing this.

[2021-10-25 13:27] moldis commented on #105
cc @kushthedude

[2021-10-25 13:29] moldis commented on #105
https://github.com/0chain/blobber/issues/323

[2021-10-25 13:31] moldis commented on #99
It should be 400 anyway, as clients checking status code

[2021-10-25 13:34] moldis commented on #70
Should be done already

[2021-10-25 13:39] moldis commented on #60
Need to discuss, as currently we creating allocation with readpool. This ticket might be outdated

[2021-10-25 13:43] moldis commented on #48
cc @cnlangzi -> what status of this ticket?

[2021-10-25 13:55] moldis commented on #27
--json instead of --verbose

[2021-10-25 14:13] sculptex commented on #27
yes, so if --json option is selected then output has to be valid json. but depending on command output capture method, error is separate to default terminal so could be excluded. but nett screen output includes debug so json is invalid.

we kinda agreed to keep until mainnet so I will continue to use --silent so close it if you like. just make --silent silently deprecated when it is dropped (so it

[2021-10-26 15:45] Sriep opened #117 "New allocation, set prefered blobbers from input."
Currently, gosdk gets this from the 0chain config file. Add option for the user to input preferred blobers in the cli request.

Moved from https://github.com/0chain/0chain/issues/413

[2021-10-27 00:34] cnlangzi commented on #37
it is done on staging.

[2021-10-27 00:35] cnlangzi commented on #36
it is done on staging.

[2021-10-27 00:35] cnlangzi commented on #54
it is done on staging.

[2021-10-27 00:36] cnlangzi commented on #48
it is done on staging.

[2021-11-05 09:28] #63 closed

[2021-11-11 11:09] Sriep opened #125 "New allocation request, user selected blobbers"
New allocation is being changed so that the user selects the blobbers rather than 0chain. Whatever is needed to support that. Work with https://github.com/0chain/gosdk/issues/297 and https://github.com/0chain/0chain/issues/668.

[2021-11-11 11:17] Sriep commented on #125
Moved https://github.com/0chain/zboxcli/issues/117 here. We still need to decide how the user finds a suitable selection of blobbers.

Work with event database change https://github.com/0chain/0chain/pull/788

[2021-11-11 11:17] Sriep commented on #117
Move to https://github.com/0chain/zboxcli/issues/125

[2021-11-11 11:17] #117 closed, assigned to kushthedude

[2021-11-18 00:28] cnlangzi opened #128 "bl-update doesn't work"
[code]

[2021-11-21 16:03] krishnemd opened #130 "Stop unwanted requests if the initial validation is not passed."
For example in the case of re-uploading an already existing file via CLI I can see that multiple chunk requests are hit on the server but instead we can minimize the overload and cost by not hitting the requests in the first place if its already existing or similar validation is failed in other cases too.
<img width="1026" alt="Screen Shot 2021-11-21 at 21 45 24" src="https://user-images.githubuse

[2021-11-25 02:33] cnlangzi opened #132 "migrate hermui with bls_c.js and bls.js on wasm"
related to https://github.com/0chain/gosdk/issues/294

[2021-12-04 12:16] cnlangzi opened #136 "add alloc-rename command for allocation"
related to https://github.com/0chain/blobber/issues/450

[2021-12-08 21:44] mohsenno1 opened #139 "Sync command is unable to detect the file updates (changes) in local files"
the **update**(changes in local files) cannot be detected by **sync** command at all. No matter if it's in root or sub-folders.

Here is the test code:
https://github.com/0chain/system_test/blob/d8e998d7a19fc296807b2e662a87d3d99b2bb2e2/tests/cli_tests/zboxcli_sync_test.go#L22

The root cause seems to be in:
` allocationObj.GetAllocationDiff(localcache, localpath, filter, exclPath)`
https://github.

[2021-12-09 11:19] Sriep commented on #60
Outdated.

[2021-12-09 11:19] #60 closed

[2021-12-10 19:22] amanjain97 commented on #128
I have tried to setup local chain with staging zboxcli and it is working fine.

<img width="927" alt="Screen Shot 2021-12-11 at 0 52 17" src="https://user-images.githubusercontent.com/11582770/145630051-dff24e07-1aa7-459b-9a7d-295b0f722ede.png">

[2021-12-12 09:52] mohsenno1 opened #142 "Files which are uploaded by 'sync' command CANNOT be downloaded by 'download' command"
Steps to reproduce:

- Create a local folder with 1 file inside
- Sync the folder to an allocation
- Try to download the file

Command is failing with the following error:

`Error in file operation: File content didn't match with uploaded file`

[2021-12-14 10:07] cnlangzi opened #145 "`download folder` is not supported"
It is not rejected by cli, and show incorrect error message.
it should be rejected with correct error message by cli if someone wants to download folder via `zbox download`.
some system_tests should be updated too.

[2021-12-27 12:55] Sriep opened #149 "NFT changes"
Changes outlined in https://github.com/0chain/0chain/issues/828

[2021-12-29 00:11] #128 closed, assigned to nobody

[2022-01-02 08:57] #145 closed, assigned to cnlangzi

[2022-01-02 08:57] #132 closed, assigned to nobody

[2022-01-02 08:59] cnlangzi commented on #86
it is impossible now. wasm sdk is working with bls wasm. it is not supported on windows.

[2022-01-02 08:59] #86 closed

[2022-01-02 09:01] #27 closed

[2022-01-02 09:03] cnlangzi commented on #67
it will be fixed on https://github.com/0chain/blobber/pull/491

[2022-01-17 02:35] cnlangzi opened #156 "add commands `zbox feed` and `zbox live`"
see detail on https://0chain.slack.com/archives/C026YA5EYH3/p1639437096347900?thread_ts=1639368472.338600&cid=C026YA5EYH3

- zbox live
- zbox feed

[2022-01-20 00:36] cnlangzi opened #157 "fix gosdk version in zbox"
[code]

gosdk version is not updated properly in `make install`. please fix it. it should be updated with latest gosdk commit

1. check go.mod,
1. if gosdk is replaced with local path, please go to the local path, and get last commitid as gosdk version
1. if gosdk is not replaced, just use gosdk version in require section

[2022-01-25 23:50] hackschnitzel09 opened #160 "make install not possible"
Hey, everytime I run make install I get errors.

cp $WORK/b263/_pkg_.a /home/kevin/.cache/go-build/8b/8b8c275f608ba0a9dec12ec0d67d6e48793657b69c8cefeb8ce0bcb29ed04305-d # internal
Makefile:30: recipe for target 'zbox' failed
make: *** [zbox] Error 2

[2022-01-26 19:12] hackschnitzel09 commented on #157
may this be the reason for issue #160 ?

[2022-02-07 23:01] cnlangzi commented on #157
no. if `make install` doesn't work, some things should be missing on your local environment .

[2022-02-07 23:12] cnlangzi commented on #160
@hackschnitzel09  could you try to run `make help` first? I guess `Makefile` doesn't work on your terminal.

[2022-02-11 05:13] princeparmar opened #167 "updateallocation: invalid size validation is not added"
UPDATEALLOCATION:
It just let me decrease allocation size BELOW the amount stored in the allocation. Also it let me do it with --lock 0

https://0chain.slack.com/archives/GREHVKQKS/p1644556772275659?thread_ts=1644426678.837979&cid=GREHVKQKS

- Add validation that allocation size cannot be updated to less than amount stored in allocation
- Add --lock 0 validation
- Need to update in gosdk and zbox

[2022-02-12 19:43] vincenzopalazzo commented on #160
this is a go env problem, please post your go version here and also the os used

[2022-02-13 09:50] cnlangzi commented on #130
similar issue https://github.com/0chain/gosdk/issues/266

[2022-02-14 00:14] cnlangzi commented on #99
see more detail explanation on https://app.slack.com/client/T9C1E9JEB/GREHVKQKS/thread/GREHVKQKS-1644797353.994499

[2022-02-15 02:53] #67 closed

[2022-02-15 07:58] #156 closed, assigned to princeparmar

[2022-02-18 21:29] patche-v commented on #157
@cnlangzi the issue here is the v1.2.87 version for gosdk?
I think that may be an issue with gosdk project
https://github.com/0chain/gosdk/blob/staging/core/version/version.go

[2022-02-19 04:02] #167 closed, assigned to princeparmar

[2022-02-19 13:03] cnlangzi commented on #157
@patche-v  yes. it should be fixed like below steps

1. check go.mod,
1. if gosdk is replaced with local path, please go to the local path, and get last commitid as gosdk version
1. if gosdk is not replaced, just use gosdk version in require section

[2022-02-20 19:55] Kishan-Dhakan opened #175 "[FEATURE] Provide fee for transactions"
Zboxcli sends transactions with 0 fees, it won't work on mainnet
E.g: `newallocation` has no way to provide fees and internally uses:
[code]

Proposal: to make optional key `--withFees = ` to provide fee and if not provided use `min_fee` as default.

See:
- https://github.com/0chain/zwalletcli/issues/85
- https://0chain.slack.com/archives/G01FYNN6DK4/p1645097379703449

[2022-02-22 12:16] cnlangzi commented on #160
@hackschnitzel09 please check [here](https://github.com/0chain/zboxcli/blob/50e8923d256f85bbc932c5ea842fa9006c1d009d/.github/workflows/build-zbox.yaml#L13), it will show you how to build zbox on linux/window/macos

[2022-02-22 12:16] #160 closed, assigned to nobody

[2022-02-24 03:00] princeparmar commented on #157
@cnlangzi For gosdk version we have one command
[code]

this command changes the value of `VERSIONSTR` const in version package.
https://github.com/0chain/gosdk/blob/321351cfaa02382a5f4d2b7c29fe8a6fe41ec346/core/version/version.go#L5 const
https://github.com/0chain/gosdk/blob/321351cfaa02382a5f4d2b7c29fe8a6fe41ec346/Makefile#L50 command

[2022-02-24 05:39] #157 closed, assigned to princeparmar

[2022-02-28 00:40] #99 closed, assigned to princeparmar

[2022-03-01 21:14] samtholiya opened #182 "Zbox cli reaches deadlock on failing to register"
Zbox cli is dead locked in bad case scenario. we need to fix this

[2022-03-11 06:36] #182 closed, assigned to samtholiya

[2022-03-19 12:26] #130 closed, assigned to nobody

[2022-03-23 05:08] lpoli opened #196 "Issue with download-cost calculation"
Download-cost calculation from zbox is used in system-tests.
Currently system-test for read-pool reduction checks for equality of same value before and after download, which itself is an issue that it is passing.

I uploaded zboxcli's `main.go` file which is `142 bytes` in `dev.0chain.net` network with `--data 2` and `--parity 2`. The download-cost returned by zboxcli was `13.613 uZcn`.
Blobber re

[2022-03-23 07:07] Humphreyking opened #197 "逗号表达式"
逗号运算，仅在for循环使

[2022-03-23 08:09] sculptex commented on #196
@lpoli it occurs to me that 0.054 mZCN is 54 uZCN which is roughly 4x 13.613 uZCN. And there are 4 blobbers total. But not sure where logic is wrong.

[2022-03-23 10:10] lpoli commented on #196
I think 13.613 uZcn is also for 4 blobbers. Not for single blobber

[2022-03-23 12:33] cnlangzi commented on #197
could you share us more detail information about it?

[2022-03-25 22:32] samtholiya opened #202 "ZBox should be able to display total stakes"
we should be adding the total stake in bl-info

[2022-03-27 18:54] #196 closed, assigned to lpoli

[2022-04-26 13:44] cnlangzi commented on #136
fixed it on https://github.com/0chain/gosdk/pull/444

[2022-04-26 13:44] #136 closed, assigned to nobody

[2022-05-11 08:29] Sriep opened #231 "Add fee storage assigner command"
We need to add a zboc command to add a free storage assigned.

Use GoSDK function [AddFreeStorageAssigner](https://github.com/0chain/gosdk/blob/staging/zboxcore/sdk/sdk.go#L893). This will access the `add_free_storage_assigner` smart contract endpoint.

[2022-05-24 01:37] cnlangzi opened #237 "show raw/friendly error message if dns is down"
It is json error instead of raw/friendly error. It is confused.

<img width="1070" alt="Screen Shot 2022-05-24 at 09 36 33" src="https://user-images.githubusercontent.com/347651/169931004-61a6e212-bf49-464f-92c8-9e4674982397.png">

[2022-05-24 08:55] sculptex commented on #237
I believe there should be support for multiple dns entries for redundancy. In which case, a random one should be chosen each time and in case of error (invalid JSON), another tried.

[2022-05-24 11:56] cnlangzi commented on #237
@guruhubb is asking to improve HA for 0dns.

[2022-05-27 20:56] #125 closed, assigned to kushthedude

[2022-05-27 20:56] dabasov commented on #125
fixed

[2022-05-27 22:47] stewartie4 opened #240 "Fix incorrect error messages"
When some operations fail, an incorrect error message is being returned:

Error Adding curator:
Error adding curator:**alloc_cancel_failed**: value not present

Error Creating allocation:
Error creating allocation:**alloc_cancel_failed: only owner can cancel an allocation**

Error renaming file
**Delete failed**: Commit consensus failed

Error moving file
**Copy failed**: Copy request failed. Oper

[2022-05-27 23:21] stewartie4 opened #241 "Query free space remaining in allocation before attempting an upload"
When attempting to upload a file larger than the allocation allows, the file is first uploaded to the blobber, then the blobber returns an error if it is too large.
This is problematic for 2 reasons:
1. It is very wasteful and time consuming for both the client and server
2. There is a possible DOS attack vector where a giant file is uploaded to blobber temp storage even though the allocation does

[2022-05-30 02:17] #235 closed, assigned to avanaur

[2022-06-01 13:55] cnlangzi opened #244 "show `last_health_check` with human readable format instead of unix time on `ls-blobbers`"
<img width="1868" alt="Screen Shot 2022-06-01 at 16 48 47" src="https://user-images.githubusercontent.com/347651/171365723-66acc394-2cc1-41b7-a09e-9f9bfae835d5.png">

[2022-06-01 23:41] stewartie4 opened #246 "Listing a file in another allocation does not fail but returns no output"
Users should not be able to list files in an allocation they do not own.
While it is true they cannot do this, when calling zbox list, a successful response is returned with no files listed.
<img width="630" alt="image" src="https://user-images.githubusercontent.com/18306778/171518591-ab041cd7-00ba-43c5-b821-ac92d2c051f1.png">
If the allocation does not exist an error is returned:
<img width="1695

[2022-06-02 20:42] stewartie4 opened #249 "Filenames longer than 100 chars are rejected after upload"
Uploads with filenames longer than 100 characters are rejected with quite an unfriendly message:
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/18306778/171731650-5a4bcee5-1496-4bbf-ba99-635d2067f9c9.png">

However filenames longer than 167 characters are rejected with a more friendly message:
<img width="1792" alt="image" src="https://user-images.githubusercontent.co

[2022-06-03 21:33] stewartie4 opened #250 "zbox sync does not detect changes in subdirectories"
Steps to reproduce:
- create allocation
- create local folder with a subdirectory
- add file to root folder and subdirectory
- if the root file is updated then the file and subdirectories are synced
- If the file in the subdirectory is updated then nothing is synced

See more here:
https://0chain.slack.com/archives/G014PQ61WNT/p1638477374103000

[2022-06-03 23:12] stewartie4 opened #251 "Zbox move and copy returns a zero exit code on error"
Zbox move and copy returns a zero exit code on error.
This could lead to a script or other orchestrator believing the operation was successful when it was not

Fix:
on ./zbox copy and ./zbox move, if an operation fails, return a non-zero exit code

[2022-06-06 15:53] Sriep opened #252 "New CLI for update validator"
And new CLI command to run new update validator endpoint introduced in PR
https://github.com/0chain/0chain/pull/1343.

[2022-06-15 02:52] #244 closed, assigned to avanaur

[2022-07-04 13:03] #252 closed, assigned to lawRathod

[2022-08-04 13:59] kcratss opened #281 "List command response for folder type is wrong"
In the List Command the response for folder is getting type=f , which is used to refer the file.
@cnlangzi

[2022-09-03 23:42] stewartie4 opened #293 "New allocation does not honour configDir when writing allocation.txt (possibly wider scope than this)"
As @Manali-Jain-squareops found
When creating an allocation with a custom config directory:
The custom directory is honoured when connecting to the network, but not when writing allocation.txt:
![image](https://user-images.githubusercontent.com/18306778/188290735-90d0c3fc-1c2f-4742-b524-31943ca153db.png)
![image](https://user-images.githubusercontent.com/18306778/188290736-a9370e21-9702-4172-87d4-

[2022-09-13 05:39] Naman-1234 opened #297 "Updating sp-info to make it generic"
Currently, sp-info takes id to be blobber id(Please refer to schema for more details on this one).
This is causing issue in some of the issues desiring id of validator.
- https://github.com/0chain/system_test/issues/305.
- https://github.com/0chain/system_test/issues/191.

We need to replace it with the generic field ID. For instance replacing ID with `provider_id` and `provider_type` flags.

[cod

[2022-09-22 09:20] nlok5923 opened #300 "Read pool balance is not affected by download cost if download via auth ticket."
Test `"Share encrypted file using auth ticket - download accounting test - proxy re-encryption ` and `Share unencrypted file using auth ticket - download accounting test` in TestShareFile at `system_test` skipped due to download cost not affecting readpool balance.

Info:
- When a file is shared by owner wallet to receiver wallet using auth ticket and on download file using the receiver wallet aft

[2022-09-25 21:05] dabasov commented on #197
could not reproduce

[2022-09-25 21:05] #197 closed, assigned to nobody

[2022-09-25 21:06] #28 closed

[2022-09-25 21:09] #53 closed

[2022-09-25 21:10] #72 closed

[2022-09-25 21:10] #81 closed

[2022-09-25 21:16] dabasov commented on #231
add

[2022-09-25 21:16] #231 closed, assigned to nobody

[2022-09-26 00:18] cnlangzi commented on #102
`zbox sync --localcache`, --localcache option should be required.

[2022-09-29 14:01] #202 closed, assigned to dabasov

[2022-09-30 11:05] boddumanohar commented on #281
`./zbox list --remotepath / --allocation bebe3a165ad0d638701a871b441bf10e4b60ceb981c9fe94851b6148f2c53136`

[code]

====================

`./zbox list --remotepath /new229  --allocation bebe3a165ad0d638701a871b441bf10e4b60ceb981c9fe94851b6148f2c53136`

[code]

the folder types are show properly for both files and folders.

[2022-09-30 11:28] boddumanohar commented on #281
@kcratss can you please if you are still able to reproduce this?

[2022-10-08 06:20] cnlangzi commented on #102
`--localcache` is optional on `zbox sync`.

[2022-10-08 06:20] #102 closed, assigned to cnlangzi

[2022-10-10 19:21] Kishan-Dhakan commented on #300
Closed by https://github.com/0chain/0chain/pull/1721

[2022-10-10 19:21] #300 closed, assigned to boddumanohar

[2022-10-11 02:50] cnlangzi commented on #105
it works now
[code]

[2022-10-11 02:50] #105 closed, assigned to cnlangzi

[2022-10-13 12:41] #281 closed, assigned to boddumanohar

[2022-10-16 23:47] cnlangzi commented on #142
it should be fixed by some PRs. it works now
[code]

[2022-10-16 23:47] #142 closed, assigned to cnlangzi

[2022-10-16 23:50] cnlangzi commented on #101
it should be fixed by some PRs. it works now
[code]

[2022-10-16 23:50] #101 closed, assigned to cnlangzi

[2022-10-17 06:30] cnlangzi commented on #246
@stewartie4  I would suggest don't throw error on `list`.`empty list` seems better than an error for code to work.  check https://github.com/0chain/system_test/pull/452 for more detail. many cases will be broken(eg `zbox sync`)

[2022-10-17 07:19] #293 closed, assigned to boddumanohar

[2022-10-17 07:25] cnlangzi commented on #251
@Hassaan008  the PR is not merged yet. I would suggest to leave issue with github workflow. it will be closed once the related PR is merged.

[2022-10-17 11:27] boddumanohar commented on #251
I am sorry, When I checked last night, the PR status was shown as closed. So I though the PR might have merged so I asked Hassan to close it. Sure lets follow the github work and will double check the PR before closing the issue.

[2022-10-17 18:14] stewartie4 commented on #246
Say zbox is being used in a script and list is called as part of that script.
Exit codes are really important for flow and error control.
An exit code of 1 is sent for an invalid or missing allocation
So why should it be an exit code of zero for an allocation the user does not own? All that does is leak information to an unauthorised user (that the allocation exists) and tells a script that all is

[2022-10-17 23:15] #241 closed, assigned to cnlangzi

[2022-10-18 06:32] #237 closed, assigned to cnlangzi

[2022-10-26 01:23] #246 closed, assigned to cnlangzi

[2022-10-26 06:51] #249 closed, assigned to cnlangzi

[2022-11-05 10:51] boddumanohar commented on #139
fixed by: https://github.com/0chain/gosdk/pull/621

[2022-11-05 10:51] #139 closed, assigned to boddumanohar

[2022-11-05 10:51] boddumanohar commented on #250
fixed by: https://github.com/0chain/gosdk/pull/621

[2022-11-05 10:51] #250 closed, assigned to boddumanohar

[2022-11-05 11:10] #297 closed, assigned to iamrz1

[2022-11-19 10:25] boddumanohar opened #327 "upload failure reason not shown properly"
at the moment, when I try to upload a duplicate file in silent mode, I get this error

[code]

the error shown here is not clean as to why the actual upload failed. The actual failure is because of `File at path already exists` because I am trying to upload a file to the same path
[code]

Expected:

the error should be something like this:
[code]

[2022-11-19 10:34] boddumanohar commented on #240
Error message when not-existent allocation ID is passed.

[code]

Expected error:
[code]

[2022-11-19 10:35] boddumanohar commented on #240
upload failure reason not shown properly

details here: https://github.com/0chain/zboxcli/issues/327

[2022-11-22 12:31] boddumanohar commented on #240
[code]

on failure `zbox createdir ` show directory created.

[2022-11-23 13:14] boddumanohar opened #329 "copied file is not encrypted"
When we copy the encrypted file, the new copied file is also suppose to encrypted, but the new copied file is not encrypted.

steps to reproduce:
upload an ecrypted file
[code]

when you list files you can conform that the file is uploaded
[code]

copy the file
[code]

check the status of file
[code]

[2022-11-23 13:16] boddumanohar commented on #329
also the after the copy the file type is changes to directory and when I try to download that file, i get this error:

[code]

[2022-11-25 22:16] boddumanohar commented on #329
this is working fine:

to copy a file,  always --destpath should name of the folder
[code]

[2022-11-25 22:16] #329 closed, assigned to boddumanohar

[2022-11-25 22:38] boddumanohar opened #331 "zbox copy command not consistent with linux copy command"
in linux
[code]

in zbox cli
[code]
we are creating `bap` folder and uploading content into that folder

in linux:
[code]

in zbox cli `destpath` only supports folders only it doesn't support actual filenames

in linux:
[code]

in zbox cli we cannot copy all the files in one folder to another